.slider {
    position: relative;
    text-align: center;
    color: var(--light);
}
.slider-content-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 45px 40px;
    transform: translate(-50%, -50%);
    text-align: center;
    outline: 1px solid rgba(255,255,255,0.50);
    border: 1px solid #ffffff;
    outline-offset: 7px;
    background: rgba(16,16,16,0.10);
}
.slider .slider-content-3 span {
    color: var(--light);
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 40px;
    display: inline-block;
    position: relative;
    padding: 12px 20px;
    text-transform: uppercase;
    z-index: 1;
}
.slider .slider-content-3 span:before {
    content: "";
    width: 60px;
    height: 100%;
    background: var(--primary);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.slider .slider-content-3 h2 {
    color: var(--light);
    font-weight: 600;
    font-size: 80px;
    margin-bottom: 25px;
}
.slider .slider-content-3 p {
    color: var(--light-gray);
    font-size: 24px;
}
.slider .slider-content-3 .read-more {
    font-size: 15px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    border-bottom: 2px solid var(--primary);
    margin-top: 40px;
    display: inline-block;
}
.slider .slider-content-3 .read-more .icon {
    margin-left: 5px;
}
.swiper-pagination-clickable {
    bottom: 80px !important;
}
.swiper-pagination-bullet-active {
    border-color: var(--primary) !important;
}
.swiper-pagination-bullet {
    background: transparent !important;
    width: 25px !important;
    height: 25px !important;
    opacity: 1 !important;
    border: 2px solid transparent;
    position: relative !important;
    z-index: 1 !important;
}
.swiper-pagination-bullet:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    background: var(--light);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
