.btn {
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
    padding: 24px 50px;
    border-radius: 0;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    border: none;
    color: #fff;
    background-image: -webkit-linear-gradient(-72deg, #e63a34 0%, #ee7349 99%);
}

@media only screen and (width <=600px) {
    .btn {
        padding: 10px !important;
        font-size: 10px !important;
    }
}