:root {
  --primary: #e63a34;
  --light: #fff;
  --dark: #000;
  --light-gray: #e0e0e0;
  --dark-gray: #a9a9a9;
  --gray: #6d6d6d;
  --bg-black: #282828;
  --gradient-background: -webkit-linear-gradient(-72deg, #e63a34 0%, #ee7349 99%);
  --border-color: rgb(255 255 255 / 20%);
  --shadow: 0px 8px 19px rgba(0, 0, 0, 0.07);
}

ul {
  margin: 0;
  padding: 0;
}

a {
  transition: 0.4s;
  outline: none;
  text-decoration: none;
}
